body {
    padding-left:10px;
    padding-right:10px;
}
a {
    display: inline-block;
    position: relative;   
    text-decoration: black;    
}
a:hover{
    text-decoration: underline;
}
.rightHeader{
    float:right;
    padding-right: 20%;
}
table th {
    border-bottom-style: solid;
    border-width: 1px;
    border-color:lightgray;
    padding-bottom: 10px;                    
}
table td {
    padding:0 15px 0 15px;
    text-align : center;                
}
table td.pVal {
    width: 80%;
}
.mc , .header{
    padding-top:20px;                    
}
.action_buttons div{
    display: inline-block;
}
.inputCont div{
    padding-bottom:10px;
    display: block;
}
.digit{font-weight:bold;}
/* number colors */
.zero{color:cornflowerblue}
.one {color: red;}
.two {color: green;}
.three {color:rgb(123, 173, 5);}
.four{color:fuchsia;}
.five {color:darkmagenta;}
.six   {color: rgba(8, 119, 23, 0.877);}
.seven {color:darkred;}
.eight {color:black;}
.nine  {color: goldenrod}
.eleven {color:rgba(82, 139, 139, 0.842)}
.twelve {color:rgba(80, 31, 172, 0.842)}
.thirteen {color:rgba(6, 235, 128, 0.842)}
.fourteen {color:rgba(64, 95, 80, 0.842)}
.fifteen {color:rgba(209, 119, 16, 0.842)}
.sixteen {color:rgba(16, 146, 179, 0.616)}
.seventeen {color:rgba(14, 235, 6, 0.616)}
.eighteen {color:rgb(247, 7, 175)}
.nineghteen {color:rgb(119, 111, 111)}
.twenty {color:rgb(173, 8, 8)}